version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "direct"
    groups:
      ui-security:
        applies-to: security-updates
        patterns:
          - "*"
    ignore:
      - dependency-name: "eslint"  # يمكن تجاهلها لأنها ليست إنتاجية
